auth required /lib/x86_64-linux-gnu/security/pam_mysql.so user=openvpn passwd=lNPg5TAIy82zFpEn host=localhost db=openvpn table=user usercolumn=user_id passwdcolumn=user_pass crypt=0
account required /lib/x86_64-linux-gnu/security/pam_mysql.so user=openvpn passwd=lNPg5TAIy82zFpEn host=localhost db=openvpn table=user usercolumn=user_id passwdcolumn=user_pass crypt=0